@model Puutarha.Models.Satotiedot

@{
    ViewData["Title"] = "Muuta satotietoa";
}


<h4>Muuta satotietoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SatoId" />
            <div class="form-group">
                <label asp-for="KasviId" class="control-label"></label>
                <select asp-for="KasviId" class="form-control" asp-items="ViewBag.KasviId"></select>
                <span asp-validation-for="KasviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatoPvm" class="control-label"></label>
                <input asp-for="SatoPvm" class="form-control" />
                <span asp-validation-for="SatoPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lämpötila" class="control-label"></label>
                <input asp-for="Lämpötila" class="form-control" />
                <span asp-validation-for="Lämpötila" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Määrä" class="control-label"></label>
                <input asp-for="Määrä" class="form-control" />
                <span asp-validation-for="Määrä" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yksikkö" class="control-label"></label>
                <input asp-for="Yksikkö" class="form-control" />
                <span asp-validation-for="Yksikkö" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lisätieto" class="control-label"></label>
                <input asp-for="Lisätieto" class="form-control" />
                <span asp-validation-for="Lisätieto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
