@model Puutarha.Models.Istutukset

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Istutukset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IstutusId" />
            <div class="form-group">
                <label asp-for="KasviId" class="control-label"></label>
                <select asp-for="KasviId" class="form-control" asp-items="ViewBag.KasviId"></select>
                <span asp-validation-for="KasviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IstutusPvm" class="control-label"></label>
                <input asp-for="IstutusPvm" class="form-control" />
                <span asp-validation-for="IstutusPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Määrä" class="control-label"></label>
                <input asp-for="Määrä" class="form-control" />
                <span asp-validation-for="Määrä" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yksikkö" class="control-label"></label>
                <input asp-for="Yksikkö" class="form-control" />
                <span asp-validation-for="Yksikkö" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Istutuspaikka" class="control-label"></label>
                <input asp-for="Istutuspaikka" class="form-control" />
                <span asp-validation-for="Istutuspaikka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lämpötila" class="control-label"></label>
                <input asp-for="Lämpötila" class="form-control" />
                <span asp-validation-for="Lämpötila" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lisätieto" class="control-label"></label>
                <input asp-for="Lisätieto" class="form-control" />
                <span asp-validation-for="Lisätieto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Poistettu" /> @Html.DisplayNameFor(model => model.Poistettu)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Poistopvm" class="control-label"></label>
                <input asp-for="Poistopvm" class="form-control" />
                <span asp-validation-for="Poistopvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
