@model Puutarha.Models.Kasvit

@{
    ViewData["Title"] = "Lisää uusi";
}

<h1>Create</h1>

<h4>Lisää kasvin perustiedot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KasviId" class="control-label"></label>
                <input asp-for="KasviId" class="form-control" />
                <span asp-validation-for="KasviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lajike" class="control-label"></label>
                <input asp-for="Lajike" class="form-control" />
                <span asp-validation-for="Lajike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieteellinenNimi" class="control-label"></label>
                <input asp-for="TieteellinenNimi" class="form-control" />
                <span asp-validation-for="TieteellinenNimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kuva" class="control-label"></label>
                <input asp-for="Kuva" class="form-control" />
                <span asp-validation-for="Kuva" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Monivuotinen" /> @Html.DisplayNameFor(model => model.Monivuotinen)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hyötykasvi" /> @Html.DisplayNameFor(model => model.Hyötykasvi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Poistettu" /> @Html.DisplayNameFor(model => model.Poistettu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Palaa listaukseen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
